[Unit]
Description=fedibot Service
Requires=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/tensorcat/projects/bots/fedibot/fedibot
ReadWritePaths=/home/tensorcat/projects/bots/fedibot/fedibot
ExecStart=/usr/bin/bash ./fedibot.sh
RestartSec=5
User=tensorcat
Group=tensorcat
NoNewPrivileges=true
SecureBits=noroot
ProtectSystem=strict
ProtectHome=read-only

[Install]
WantedBy=multi-user.target
